/*body{
    background-image: linear-gradient(#636162,#b1afaf);
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat',sans-serif;
}
.main{
    background-color: white;
    height: auto;
    width: 650px;
    position: absolute;
    transform:translate(-50%,-50%);
    left: 50%;
    top: 70%;
}
.left{
    background-color: rgb(33, 97, 33);
    width: 200%;
    height: 100%;
    float: left;
}*/
/*:root{
    background: #green;
    --process: white;
    --sucess:red;
}
*/
:root {
  --success: white;
  --progress: white;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: radial-gradient(#c7c7c7 25%,#c7c7c7 74%);
    font-family: system-ui;
}
.main{
    height: 2000px;
    width: 800px;
    background-color: white;
    box-shadow: 5px 7px 15px #b9b6b6;
    margin: 20px auto;
    }
.profile{
    width: 150px;
    border-radius: 50%;
}
.col-div-4{
    width: 30%;
    float: left;
    background-color: #6C6F09; 
    height: 2000px;
    padding: 5px;
}
.line{
    border-left: 1px solid #c7c7c7;
    height: 2000px;
    width: 2%;
    margin-top: 30px;
    float: left;
}
.heading{
    background-color: #304504;
    padding: 10px;
    color: white;
    text-align: left;
    }
.p1{
    padding: 9px 10px;
    font-size: 11px; 
}
/*.skil-container{
    width: 90%;
    background-color: green;
    margin: 0px 10px;
}*/
    /*padding-left: 20px;
    margin-right: -15px;
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: green;
    left: 20px;
    top: 26px;
    transform: rotate(56deg);
    z-index: -1;

}*/
/*.heading after{
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: green;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: -1;
}*//*
.skill{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
.ab{
    width: 90%
    background-color:white;
}*/
/*#progress{
    background: var(--process);
    border-radius: 13px;
    height: 8px;
    width: 90%;

}
#progress:after{
    content: '';
    display: block;
    background: var(--white);
    width: 90%;
    height: 100%;
    border-radius: 9px;
}
#progress1{
    background: var(--process);
    border-radius: 13px;
    height: 8px;
    width: 70%;


}
#progress1:after{
    content: '';
    display: block;
    background: var(--white);
    width: 90%;
    height: 100%;
    border-radius: 9px;
}*/

.progressbar-wrapper {
  background-color: #304504;
  color: white;
  height: 8px;
  margin-left: 20px;
  /*border-radius: 15px;*/
  width: 80%;
}

.progressbar {
  background-color: var(--progress);
  color: white;
  height: 8px;
  /*padding: 1rem;*/
  text-align: right;
  /*font-size: 20px;
  border-radius: 15px;*/
}

.progressbar[title="downloading"] {
   background-color: var(--progress);
}

.progressbar[title="downloaded"] {
   background-color: var(--success);
}
  
.mp4 {
  width: 100%;
}

.mp3 {
  width: 60%;
}
.line1{
    position: absolute;
    width: 343.04px;
    height: 0px;
    right: 540px;
    /*top: 138px;
*/
   /* border: 1px solid #000000;*/
    transform: matrix(-1.10deg);
}

.line2{
    position: absolute;
    width: 343.04px;
    height: 0px;
    right: 540px;
    /*top: 138px;
*/
    /*border: 1px solid #000000;*/
    transform: matrix(-1.10deg);
    
}
.p3{
    color: #304504;
    border-top:2px solid #3d3d3d;
    border-bottom:2px solid #3d3d3d;
}
.about .box{
    display: flex;
    text-align: left;
    padding: 7px;
    flex-direction: row;
    margin: 20px;
    /*position: absolute;
    width: 51px;
    height: 30px;
    right: : 346px;
    top: 178px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;*/
}
.about .box .year_company{
    min-width: 150px;
    margin-bottom: 10px;
}